<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="printScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <printScreen.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>10.126.1.152</value>
            </setting>
            <setting name="PhotoCopy_A4S" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PhotoCopy_A4D" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PhotoCopy_ID" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PhotoCopy_A5S" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PhotoCopy_A5D" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PhotoCopy_B5S" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PhotoCopy_B5D" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PhotoCopy_B4S" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PhotoCopy_B4D" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PhotoCopy_A3S" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PhotoCopy_A3D" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="PhotoCopy_LegalS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PhotoCopy_LegalD" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="LaminateID" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Laminate3R" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Laminate4R" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LaminateA5" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="LaminateA4" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LaminateB4" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LaminateA3" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LaminateLegal" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DuploA4S" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="DuploA4D" serializeAs="String">
                <value>2.2</value>
            </setting>
            <setting name="DuploColourA4S" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="DuploColourA4D" serializeAs="String">
                <value>3.4</value>
            </setting>
            <setting name="DuploB4S" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DuploB4D" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DuploLegalS" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="DuploLegalD" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value>C:</value>
            </setting>
        </printScreen.Properties.Settings>
    </userSettings>
</configuration>